<template>
  <div class="forecastBox">
    <h4 v-if="index === 0">Tomorrow</h4>
    <h4 v-if="index === 1">In two days</h4>
    <h4 v-if="index === 2">In three days</h4>
    <p class="temperature">{{ Math.round(forecast.main.temp * 10) / 10 }} °C</p>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ForecastBox extends Vue {
  @Prop() private forecast!: any;
  @Prop() private index!: number;
}
</script>

<style scoped>
.forecastBox {
  width: 300px;
  display: inline-block;
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  vertical-align: top;
}
.temperature {
  font-size: 3rem;
  text-align: center;
}
h4 {
  font-size: 1rem;
  margin: 0;
}
</style>
