<template>
  <div class="forecast">
    <h3>
      Forecast for {{ selectedCity.name }} (lat
      {{ Math.round(selectedCity.lat * 10) / 10 }}, long
      {{ Math.round(selectedCity.long * 10) / 10 }})
    </h3>
    <div v-show="!isLoading">
      <ForecastBox
        v-for="(forecast, index) in forecasts"
        :key="forecast.dt"
        :forecast="forecast"
        :index="index"
      />
    </div>
    <div v-show="isLoading">loading ...</div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import ForecastBox from "./ForecastBox.vue";

import { FORECAST_APP_ID, NUMBER_OF_DAYS } from "../constants";

@Component({
  components: {
    ForecastBox
  }
})
export default class Forecast extends Vue {
  @Prop() private selectedCity!: ICity;

  forecasts = [];
  isLoading = true;

  @Watch("selectedCity")
  onSelectedCityChanged(city: ICity) {
    this.isLoading = true;
    fetch(
      `http://api.openweathermap.org/data/2.5/forecast?units=metric&lat=${city.lat}&lon=${city.long}&appid=${FORECAST_APP_ID}`
    )
      .then(response => response.json())
      .then(data => {
        this.forecasts = data.list.filter(
          (_: any, i: number) =>
            i % 8 === 0 && i < 8 * (NUMBER_OF_DAYS + 1) && i >= 8
        );
        this.isLoading = false;
      });
  }
}
</script>

<style scoped>
.forecast {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  width: calc(100vw - 280px);
}
h3 {
  margin: 0;
  margin-bottom: 16px;
}
</style>
