<template>
  <div class="sidebar">
    <h3>Locations</h3>
    <input @input="updateFilterTerm" placeholder="Filter by name" />
    <ul>
      <li
        v-for="city in filteredCities()"
        :key="city.id"
        :style="{ color: city.id === selectedCityId ? '#42b983' : 'black' }"
      >
        <span @click="updateSelectedCityId(city.id)">{{
          city && city.name
        }}</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Sidebar extends Vue {
  @Prop() private selectedCityId!: string;
  @Prop() private cities!: ICity[];
  @Prop() private updateSelectedCityId!: (cityId: string) => void;

  filterTerm = "";

  updateFilterTerm(event: { target: { value: string } }) {
    this.filterTerm = event?.target?.value ?? "";
  }

  filteredCities() {
    return this.cities.filter(city =>
      city.name.toLowerCase().includes(this.filterTerm.toLowerCase())
    );
  }
}
</script>

<style scoped>
.sidebar {
  height: 100vh;
  display: inline-block;
  width: 200px;
  padding: 20px;
}
h3 {
  margin: 0;
}
input {
  margin-top: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: block;
  cursor: pointer;
}
</style>
