<template>
  <div id="app">
    <Sidebar
      :cities="cities()"
      :selectedCityId="selectedCityId"
      :updateSelectedCityId="updateSelectedCityId"
    />
    <Forecast :selectedCity="selectedCity()" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Forecast from "./components/Forecast.vue";
import Sidebar from "./components/Sidebar.vue";

import { DEFAULT_CITIES } from "./constants";

@Component({
  components: {
    Forecast,
    Sidebar
  }
})
export default class App extends Vue {
  defaultCities: ICity[] = DEFAULT_CITIES;
  selectedCityId = DEFAULT_CITIES[0].id;
  detectedCity: ICity | null = null;

  cities() {
    return this.detectedCity
      ? [this.detectedCity, ...this.defaultCities]
      : this.defaultCities;
  }

  updateSelectedCityId(cityId: string) {
    this.selectedCityId = cityId;
  }

  selectedCity() {
    return this.cities().find(city => city.id === this.selectedCityId);
  }

  mounted() {
    const showPosition: PositionCallback = position => {
      console.log("position", position);
      this.detectedCity = {
        id: "detected",
        name: "Your location",
        lat: position.coords.latitude,
        long: position.coords.longitude
      };
      this.selectedCityId = "detected";
    };

    const getLocation = () => {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        console.log("error");
      }
    };

    getLocation();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
}
body {
  margin: 0;
}
</style>
